@font-face {
  font-family: Calculator;
  src: url(fonts/Calculator.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: min(100%, 35rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1em;

  background-color: #2e2b30;
  padding: 6em 2em 3em 2em;

  border-radius: 1em;
  box-shadow:
    0px 0px 0px 6px #1d1d1f,
    0px 0px 0px 12px #302f32;
}

#screen {
  grid-column: 1/span 5;
  grid-row: 1/span 2;

  font-family: Calculator;
  font-size: 3em;
  color: white;

  background-color: #212023;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;

  transform: translateY(-50%);

  box-shadow: 0px -8px 0px 0px #19161b;
}

.container > *:nth-child(2) {
  grid-column: span 2;
}

.container button {
  padding: 0.5em;
  background-color: #474551;
  border: none;
  font-size: 1.3em;
  border-radius: 0.5em;

  color: #bfbccd;
  box-shadow: 0px 7px 0px -1px #232227;

  transition: .1s ease-in-out;
}

.container button.special {
  background-color: #ec880e;
  color: #3a2512;
}

.container button:active, .container button.disabled {
  box-shadow: 0px 0px 0px 6px #232227;
  transform: scale(90%);
}

.container button.disabled {
  background-color: #232227;
}

#screen::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;

  background-color: inherit;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  transform: translateY(50%);

  z-index: 1;
}

#screen > div {
  width: 90%;
  height: 60%;
  background-color: #474551;

  margin: auto;
  padding: 0.2em;

  border-radius: 0.1em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  box-shadow: 0px -5px 0px 0px #34333c;
  overflow: hidden;
}

.throb {
  background-color: brown!important;
  color: white!important;

  animation-name: throbanimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes throbanimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}